{% extends 'base.html.twig' %}

{% block title %}Dessert index{% endblock %}

{% block body %}
<div class="container">
    <h1>Dessert index</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>DateSell</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for dessert in desserts %}
            <tr>
                <td scope="col">{{ dessert.id }}</td>
                <td scope="col">{{ dessert.name }}</td>
                <td scope="col">{{ dessert.price }}</td>
                <td scope="col">{{ dessert.dateSell ? dessert.dateSell|date('Y-m-d') : '' }}</td>
                <td scope="col">
{#                    <a href="{{ path('dessert_show', {'id': dessert.id}) }}">show</a>#}
                    <a href="{{ path('dessert_edit', {'id': dessert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td scope="col" colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dessert_new') }}">Create new</a>
</div>

{% endblock %}
