{% extends 'base.html.twig' %}

{% block title %}Dessert index{% endblock %}

{% block body %}
    <h1>Dessert index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>DateSell</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dessert in desserts %}
            <tr>
                <td>{{ dessert.id }}</td>
                <td>{{ dessert.name }}</td>
                <td>{{ dessert.price }}</td>
                <td>{{ dessert.dateSell ? dessert.dateSell|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('dessert_show', {'id': dessert.id}) }}">show</a>
                    <a href="{{ path('dessert_edit', {'id': dessert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('dessert_new') }}">Create new</a>
{% endblock %}
